html{
    width: 1200px;
}
/* header intestazione più titolo */


.background-the-booleaner{
    background-image: url(../img/pattern.png);
    background-color: blue;
}

.the-booleaner{
    width: 300px;
}

.scritto-da{
    color: gray;
}

.data{
    color: gray;
}
/* /header intestazione più titolo */

/* section under header */
.descrizione-foto{
    font-size: small;
}
/* section under header */

/* section paragrafo */
/* /section paragrafo */

/* section elenco */
/* /section elenco */

/* section table */
thead{
    background-color: blue;
    color: white;
    text-align: left;
}

.table-tr-lightblue{
    background-color: lightblue;
}

/* /section table */


