html{
    width: 800px;
}

/* header intestazione più titolo */


.background-the-booleaner{
    background-image: url(../img/pattern.png);
}

.the-booleaner{
    width: 300px;
}

.scritto-da{
    color: gray;
}

.data{
    color: gray;
}
/* /header intestazione più titolo */

