html{
    width: 1200px;
}
/* header intestazione più titolo */
.background-the-booleaner{
    background-image: url(../img/pattern.png);
    background-color: blue;
}

.the-booleaner{
    width: 300px;
}

h1{
    font-size: 50px;
}

.scritto-da{
    color: grey;
}

a{
    text-decoration: none;
}

.data{
    color: grey;
}
/* /header intestazione più titolo */

/* section under header */
.descrizione-foto{
    font-size: small;
}
/* section under header */

/* section paragrafo */
/* /section paragrafo */

/* section elenco */
/* /section elenco */

/* section table */
thead{
    background-color: blue;
    color: white;
    text-align: left;
}

.table-tr-lightblue{
    background-color: lightblue;
}

/* /section table */

/* section paragraph under table */
/* /section paragraph under table */

/* section potrebbero interessarti */
#monitor{
    color: white;
    background-image: url(../img/monitor.jpg);
    height: 208px;
    width: 312px;
}

#graph{
    color: white;
    background-image: url(../img/graph.jpg);
    height: 207px;
    width: 311px;
}

#interessarti{
    color: grey;
}
/* /section potrebbero interessarti */



